pgC: track

title: Pact
webTitle: pact
album: The Fox
chapter: Chapter 8
date: 21-11-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
  <p>You never listen to a word I say<br>
  You never touch me, only push me away<br>
  Another meeting ran on late<br>
  And when you get home, the kids are crying</p>

  <p>I never touched him, but yes we spoke<br>
  Our tongues curled heavy around the coffee and smoke<br>
  I guess he&rsquo;s laughing at my jokes<br>
  A little more than you do lately</p>

  <p>Now it&rsquo;s all over the news</p>

  <p>This is the way we love<br>
  Like it&rsquo;s not good enough</p>

  <p>Stop making fires<br>
  Stop making fun out of me<br>
  It was never the music, baby<br>
  It was you who led me to drugs<br>
  If I&rsquo;m a selfish lover once<br>
  Then I&rsquo;m a selfless liar twice<br>
  Because I have tried, and I know neither was enough</p>

  <p>When I met you<br>
  I first broke that old pact with myself<br>
  To never love anyone else<br>
  Except for me<br>
  And now I see you&rsquo;re not unique<br>
  Because I&rsquo;d break it again<br>
  When she looks at me<br>
  When I met her<br>
  I first broke that old pact that we share<br>
  To never let anyone else<br>
  Compare<br>
  But now I see you&rsquo;re not unique<br>
  I don&rsquo;t know where I&rsquo;ll be</p>
</div>

{% endblock body %}
