title: The Hunted
album: The Foal
chapter: Chapter 2
webTitle: hunted
pgC: track
date: 21-04-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
    <p>Keep your questions to yourself, boy, because no-one here knows &mdash;<br>
    When they&rsquo;re done with the bodies, where do they go?<br>
    These pills are kaleidoscopes<br>
    To blur the scene before you choke<br>
    There are no faces in the homes<br>
    Or under the stones</p>

    <p>All the people in the valley are gathered below<br>
    At the scent of your blood &mdash; well, they&rsquo;re in for a show<br>
    Turn your face towards the Sun<br>
    There&rsquo;s no room left to run<br>
    But there&rsquo;s no fear that is real<br>
    When bones can heal</p>

    <p><em>(Dry your eyes</em><br>
    <em>Try outside</em><br>
    <em>Try your life.)</em></p>

    <p>Can I tell you both a secret I&rsquo;ve been keeping to myself?<br>
    I&rsquo;ve got a feeling that this hospital is bad for my health<br>
    If it&rsquo;s not broken then it folds<br>
    And you&rsquo;re still the only one I&rsquo;ve told<br>
    If it&rsquo;s not frozen then it&rsquo;s cold<br>
    And you&rsquo;re the only one that knows</p>
</div>
<div class="two-col col-right">
    <p>Doctor, I&rsquo;m leaving.</p>

    <p>I should have known &mdash; I could leave here all along.</p>
</div>

{% endblock body %}