@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content; 
    }
}

@mixin animation($str...) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
    
@mixin transform($args...) {
    -webkit-transform: #{$args};
    -moz-transform: #{$args};
    -o-transform: #{$args};
    transform: #{$args};
}

@mixin transition($args...) {
    -webkit-transition: #{$args};
    -moz-transition: #{$args};
    -o-transition: #{$args};
    transition: #{$args};
}

@mixin bp($point) {
    @if $point == 1400 {
        @media screen and (min-width: 1400px) {
            @content;
        }
    }
    @if $point == minFull {
        @media screen and (min-width: ($width*($p/16)*1em)) {
            @content;
        }
    }
    @if $point == fullWidth {
        @media screen and (max-width: ($width*($p/16)*1em)) {
            @content;
        }
    }
    @else if $point == minTab {
        @media screen and (min-width: ($tablet*($p/16)*1em)) {
            @content;
        }
    }
    @else if $point == tablet {
        @media screen and (max-width: ($tablet*($p/16)*1em)) {
            @content;
        }
    }
    @else if $point == minMob {
        @media screen and (min-width: ($mobile*($p/16)*1em)) {
            @content;
        }
    }
    @else if $point == mobile {
        @media screen and (max-width: ($mobile*($p/16)*1em)) {
            @content;
        }
    }
}

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        @content;
    }
}

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }
 
  @return map-get($z-layers, $layer);
}