$art: #00c1de;
$business-studies: #9a3cbb;
$christmas-markets: #ec0044;
$classical-studies: #00b2e2;
$design-tech: #1e988a;
$english: #8193dc;
$fashion: #ff8f12;
$food-technology: #ff4611;
$general-cultural: $blu;
$geography: #72a84f;
$graphic-design: #00bfd6;
$history: #9364cc;
$ict: $blu;
$leisure-and-tourism: #ffb546;
$long-haul: #004987;
$mathematics: #b9be10;
$media-studies: #ef3fa9;
$performing-arts: #742f8a;
$politics: #ba9c13;
$religious-studies: #ff7f3f;
$science: #00bfd6;

$languages: #ffcd00;
$french: #57c0e8;
$german: #b42371;
$italian: #22d3c5;
$mandarin: #00a0ae;
$primary-languages: $blu;
$russian: #3b5cac;
$spanish: #ffc627;

$t4grn: #87c33e;
$t4dgrn: #1d5632;
$t4blu: #7e9bc0;
$t4dblu: #012639;

//$aust: #ef3fa9;
//$belg: #9a3cbb;
//$cand: #ff4612;
//$chin: #00a1af;
//$czc: #3b5cad;
//$fra: #57c1e8;
//$ger: #b52372;
//$hung: #ff7f3f;
//$ire: #1e988a;
//$ita: $grn;
//$ned: $org;
//$port: #ffb547;
//$pol: #8293dc;
//$spa: #ec0044;
//$uk: $blu;
//$usa: #752f8a;

$skiblu: #346094;
$skidblu: #002453;

$america: #8431a6;
$andorra: #00a887;
$austria: #e74360;
$bulgaria: #f7ce3c;
$canada: #802528;
$france: #0093c9;
$spain: #c33a32;
$switzerland: #ad3b72;