$font: 'Lato', sans-serif;
$cfont: 'Source Code Pro', monospace;

$weight: 400;
$bold: 700;

$p: 14;
$lh: 21;

$h1: 42;
$h2: 28;
$h3: 21;
$h4: 18;
$h5: 16;
$nav: 16;
$navs: 15;
$pc: 14;

$let: $lh/$p;
$let1: $lh/$h1;
$let2: $lh/$h2;
$let3: $lh/$h3;
$let4: $lh/$h4;
$let5: $lh/$h5;
$letn: $lh/$nav;
$letns: $lh/$navs;
$letc: $lh/$pc;

$ret: $let*1rem;

$print: 9;

$pwidth: 42;