.group {

    &-nav {
        background: url('http://halsbury.com/music/images/siteStyle/b40.png') repeat top left;
        background: rgba($blk,.4);
        height: $lh*1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: z('group-nav');
        @include transition(height .8s ease-out, background .5s ease-out);

        &:hover {
            background: url('http://halsbury.com/music/images/siteStyle/b80.png') repeat top left;
            background: rgba($blk,.8);
            height: $let*4em;
            @include transition(height .5s ease-out, background .3s ease-out);
        }
        
        .wrap {
            background: url('http://halsbury.com/music/images/siteStyle/group-logo-78.png') no-repeat 52px 2px;
            background-size: 173px 78px;
            height: 100%;
            padding: 0 $let*1em;
            overflow: hidden;

            @include retina {
                background-image: url('http://halsbury.com/music/images/siteStyle/group-logo.png');
            }

            @include bp(tablet) {
                background-position: $lh*1px 2px;
            }
        }

        @include bp(mobile) {
            display: none;
        }
    }
    
    &-prod {
        color: $w;
        float: right;
        text-align: center;
        width: (100%/6);
    }
}