.nav {
    background-color: darken($key,3%);
    float: left;
    height: $let*2em;
    width: 100%;
    z-index: z('nav');

    @media print {
        display: none;
    }

    .wrap {
        @include bgshade;
        background-color: $key;
        padding: 0;
    }

    .one-col {
        height: $let*2em;
        padding: 0;
    }
    
    &-ul {
        height: 100%;
        width: 100%;
    }
    
    &-li {
        height: 0;
        overflow: hidden;
        width: 100%;
        
        &:hover, &.nav-active {
            background-color: darken($key,8%);
            @include transition(background .1s ease-out);
        }

        @include bp(minMob) {
            float: left;
            height: 100%;
            overflow: visible;
            width: auto;
        }
    }
    
    &-a {
        color: $w;
        display: block;
        font-size: ($nav/$p)*1em;
        line-height: $letn;
        padding: $letn*.5em 0;
        text-align: center;
        text-shadow: 0 1px 2px rgba($blk,.2);
        width: 100%;
        @include transition(background .3s ease-out);
        
        @include bp(minMob) {
            padding: $letn*.5em $letn*1em;
        }
    }
    
    &-sub {
        background: $w;
        box-shadow: $box-shadow;
        height: 0;
        left: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        top: $let*2em;
        z-index: z('sub-menu');
        @include transition(max-height .2s ease-out, padding .3s ease-out);
            
        .nav-li:hover & {
            height: auto;
            max-height: 200em;
            padding: $let*.5em 0;
            @include transition(max-height .2s ease-out, padding .3s ease-out);

            @include bp(minMob) {
                padding: $let*1em 0;
            }
        }
    }
    
    &-sul {
        border-top: 1px solid $nw;
        margin-top: -1px;
        
        .nav-countries &:hover {
            border-color: $blu;
        }
    }
    
    &-sli {
        border-bottom: 1px solid $nw;
        
        &:hover {
            background: $nw;
        }
    }
    
    &-sa {
        display: block;
        font-size: ($navs/$p)*1em;
        line-height: $letns;
        padding: $letns*.5em 0;
        padding: $ret*.5 0;
        text-align: center;
        width: 100%;
        
        .nav-countries & {
            padding-left: $letns*2em;
            padding-left: $ret*2;
            text-align: left;
            
            &::before {
                background: $bgry;
                border-radius: 100%;
                content: '';
                height: 8px;
                left: 17px;
                position: absolute;
                top: 18px;
                width: 8px;
                @include transition(all .1s);
            }
        }
        
        &:hover {
            &::before {
                left: 13px;
                top: 14px;
            }
        }

        .nav-groups & {
            text-align: left;

            @include bp(minMob) {
                text-align: center;
            }

            @include bp(minTab) {
                text-align: left;
            }
        }
    }

    &-simg {
        display: inline;
        margin: -6px ($lh*3 - 30)*.5px -5px;
        vertical-align: middle;
        
        @include bp(minMob) {
            display: block;
            margin: 0 auto;
        }

        @include bp(minTab) {
            display: inline;
            margin: -6px ($lh*3 - 30)*.5px -5px;
        }
    }

    &-countries {
        position: static;
        
        @include bp(minMob) {
        
            .nav-sul {
                float: left;
                width: (100%/3);
            }

            .nav-europe {
                width: (200%/3);
            }
        }

        @include bp(minTab) {
            .nav-sub {
                padding: 0 $let*1em;
            }

            &:hover {
                .nav-sub {
                    padding: $let*1em;
                }
            }
        }

        @include bp(minFull) {
            .nav-sub {
                left: -($let*1em);
                right: -($let*1em);
            }
        }

        @include bp(mobile) {
            height: 100%;
            padding-left: $letn*2.5em;
            padding-left: $ret*2.5;
            overflow: visible;
        }
    }

    &-europe, &-resources {
        @include bp(minMob) {
            .nav-sli {
                float: left;
                width: 50%;
            }
        }
    }

    &-head.nav-head {
        font-weight: $bold;
        text-transform: uppercase;
        width: 100%;
    }

    &-resources {
        @include bp(minMob) {
            .nav-sub {
                left: -100%;
                width: 300%;
            }

            .nav-sa {
                padding-left: $letn*.5em;
                padding-right: $letn*.5em;
            }
        }
    }
    
    &-quote {
        background: $blu;
    }
}


#menuOpen, #menuClose {
    background: url('http://www.pro-exfootballtours.com/images/siteStyle/menuOpen.png') no-repeat center;
    background-size: 16px;
    float: left;
    height: 100%;
    position: absolute;
    width: 0;
    z-index: z('navOpen');
}

#menuOpen {
    @include bp(mobile) {
        border-right: 1px solid lighten($org,13%);
        width: $let*2em;
    }
}

#menuClose {
    background-image: url('http://www.pro-exfootballtours.com/images/siteStyle/menuClose.png');
}

.nav-open {
    .nav-li {
        height: 100%;
        overflow: visible;
        padding: 0;
    }

    #menuOpen {
        width: 0;
    }

    #menuClose {
        width: $let*2em;
    }
}