.banner {
    &-sec {
        border: 0;
        height: $let*22em;
        overflow: hidden;
        padding: 0;
        position: fixed;
        z-index: z('banner-sec');

        @include bp(minMob) {
            height: $let*27.5em;
        }

        @media print {
            height: auto;
            position: relative;
        }
    }

    &-img {
        height: 100%;
        left: 0;
        max-width: none;
        position: absolute;
        top: 0;
        width: auto;

        @include bp(1400) {
            height: auto;
            width: 100%;
        }

        @media print {
            float: left;
            height: auto;
            position: relative;
            width: 100%;
        }
    }

    &-title {
        background: $blk;
        background: url('/music/images/siteStyle/b21.png') repeat top left;
        background: $lfrost;
        border: 0;
        margin: $let*13em 0 $let*5em;
        padding: $let*1em 0 0;
        z-index: z('banner-title');

        h1 {
            color: $w;
            text-shadow: 0 1px 4px rgba($blk,.3);
        }

        @include bp(mobile) {
            padding-top: $let*.5em;
            margin: $let*11em 0 0;

            h1, h3 {
                margin-bottom: $ret*.5;
            }
        }

        @media print {
            margin: 0;
        }

        .two-col {
            @include bp(tablet) {
                width: 50%;
            }
            @include bp(mobile) {
                width: 100%;
            }
        }

        .four-col {
            clear: none;
        }
    }

    &-slim {
        margin: $let*9em 0 $let*2em;

        @include bp(mobile) {
            margin: $let*11em 0 0;
        }
    }
}