.sec {
    float: left;
    width: 100%;
    z-index: z('sec');
    
    &-shade {
        background-color: $nw;
    }
}

.wrap {
    margin: 0 auto;
    max-width: $width*1em;
    padding: $let*1em $let*.5em $let*.5em;
    width: 100%;
    
    .main-body & {
        border: 1px solid $gry;
        border-bottom-color: $bdr;
        border-width: 0 1px 1px;
    }
}

.one-col {
    padding: 0 $let*1em;
    
    .main-body & {
        padding: $let*1em $let*1em $let*.5em;
    }
}

.clear-col, .two-col, .three-col, .two-three-col, .four-col, .three-four-col, .six-col {
    padding: 0 $let*.5em;
    
    > img {
        margin-bottom: $let*1em;
        width: 100%;
    }
}

.noPad.noPad {
    padding: 0;
}

.antiPad.antiPad {
    padding: 0;
}

.sec, .clear-col, .two-col, .three-col, .two-three-col, .four-col, .three-four-col, .six-col {
    float: left;
    width: 100%;
}

.col-right.col-right {
    float: right;
}

.two-col {
    @include bp(minTab) {
        width: 50%;
    }
}

.three-col {
    @include bp(minMob) {
        width: (100%/3);
    }
}

.two-three-col {
    @include bp(minMob) {
        width: (100%/3);
    }
    
    @include bp(minTab) {
        width: (200%/3);
    }
}

.four-col {
    @include bp(minMob) {
        width: 50%;
    }
    
    @include bp(minTab) {
        width: 25%;
    
        .wrap & {
            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}

.three-four-col {
    
    @include bp(minTab) {
        width: 75%;
    }
}

.six-col {
    @include bp(minMob) {
        width: (100%/3);
    
        .wrap & {
            &:nth-child(6n+1) {
                clear: left;
            }
        }
    }
    
    @include bp(minTab) {
        width: (100%/6);
    }
}

.col-frame {
    border: 1px solid $bgry;
    border-radius: 3px;
}