title: Deliverance
album: The Foal
chapter: Chapter 3
webTitle: deliverance
pgC: track
date: 21-05-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
    <p>I&rsquo;m beginning<br>
    To understand what you meant<br>
    When you said<br>
    That all this was ending</p>

    <p>I&rsquo;ve gone on<br>
    To lose myself in my head<br>
    And convince myself<br>
    That I was transcending</p>

    <p>But I saw her as deliverance from you<br>
    And now I see you as a miserable excuse<br>
    For love.</p>

    <p>I&rsquo;m beginning<br>
    To piece back together<br>
    All of the pieces of my teenage body<br>
    You said weren&rsquo;t enough</p>

    <p>I&rsquo;m beginning<br>
    To ask for forgiveness<br>
    Forgiveness from myself for thinking<br>
    I was in love</p>

    <p>Your words set a fire in the Alps, and one in my skull<br>
    Your heart belongs in the South, and your head on my wall<br>
    My wall</p>

    <p><em>(Pure, arrogant, impotent rage</em><br>
    <em>Taking hold of my body, at such tender age</em><br>
    <em>I&rsquo;ve given what you want, but at every stage</em><br>
    <em>You make it easy to hate</em><br>
    <em> With the weight of the ocean</em><br>
    <em>The shock of the sea</em><br>
    <em>And the mountain</em><br>
    <em>Over me.)</em></p>

    <p>I&rsquo;m beginning<br>
    To understand what you meant<br>
    I&rsquo;m beginning<br>
    To understand</p>
</div>
<div class="two-col col-right">
    <p>Run until you cannot speak<br>
    Till blood is running from your feet<br>
    And when your bones, they break anew,<br>
    I&rsquo;ll still be running after you<br>
    There will no deliverance<br>
    From me.</p>
</div>
{% endblock body %}