pgC: track

title: I Guess I Better Be Getting Gone
webTitle: getting-gone
album: The Fox
chapter: Epilogue
date: 21-12-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
  <p>Like waking up from a violent dream<br>
  With open eyes and a child&rsquo;s scream<br>
  You walk out<br>
  On me</p>

  <p>I never really know what to say<br>
  Just take my hand and I lead the way<br>
  They come to me so lonely<br>
  They come to me so lonely and still</p>

  <p>Mama, I cut my tongue out<br>
  In the hope I&rsquo;d never find home<br>
  Mama, I ripped my heart out<br>
  Just to taste a little love<br>
  Mama, I set the fire<br>
  So I guess I better be getting myself gone</p>

  <p>Mama, am I still a child in your eyes<br>
  When I&rsquo;ve touched so much I know that I&rsquo;m alive?</p>
</div>
{% endblock body %}
