.circle
  background no-repeat center
  background-size contain
  border-radius 100%
  float left
  height 0
  overflow hidden
  padding-bottom 100%
  width 100%

  &-wrap
    top 10vh
    position fixed
    height 80vh
    left 50%
    margin-left -40vh
    width 80vh
    -webkit-border-radius 100%
