pgC: track

title: Interlude
webTitle: interlude
album: The Fox
chapter: --
date: 21-07-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
  <h2>&ldquo;And I mean, this sort of thing can happen to the most sharp-witted fellows, to psychologists and litterateurs, sir! Human nature is a mirror, sir, a mirror, of the most transparent kind! Look in it and feast your eyes!&rdquo;</h2>
</div>
<div class="two-col col-right">
  <h3>&mdash; Porfiry Petrovich</h3>
</div>

{% endblock body %}
