pgC: track

title: Highly Strung
webTitle: highly-strung
album: The Fox
chapter: Chapter 6
date: 21-09-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
  <p>My mouth is shaped to form these words<br>
  Now I&rsquo;m surrounded by what I&rsquo;m not<br>
  One kiss from you says it&rsquo;s over<br>
  But I&rsquo;m in the mood to be right</p>

  <p>I spent so long working out<br>
  Which way&rsquo;s up<br>
  That now I&rsquo;m down<br>
  Can you tell me when enough<br>
  Will ever be enough<br>
  Or is that to much to ask?</p>

  <p>My mouth is shaped to form these words<br>
  Now I&rsquo;m surrounded by what I&rsquo;m not</p>

  <p>I spent so long working out<br>
  Which way&rsquo;s up<br>
  That now I&rsquo;m down<br>
  Can you tell me when enough<br>
  Will ever be enough<br>
  Or is that to much to ask?</p>

  <p>Walking in the garden<br>
  Asleep in my clothes<br>
  Walking in the garden<br>
  My eyes fully closed.</p>
</div>
{% endblock body %}
