pgC: track

title: This House of Sin
album: The Fox
chapter: Chapter 5
webTitle: house-of-sin
date: 21-08-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
  <p>Swallow it all down<br>
  And then you spit at me<br>
  Such poetry<br>
  You&rsquo;ve such dignity<br>
  You can be so cold sometimes</p>

  <p>I want to know the difference<br>
  Between the chosen and the damned<br>
  How did we end up like this<br>
  This was never what we planned</p>

  <p>Any excuse, any excuse<br>
  You know you&rsquo;ll take any excuse<br>
  Just to break your silence<br>
  Baby it&rsquo;s a shame<br>
  A crying shame<br>
  You know it&rsquo;s a goddamn shame<br>
  Because we could have built something<br>
  Take me to the edge<br>
  Push me to the brink<br>
  Take me to the point where I can touch space and time<br>
  Take me to the edge<br>
  Push me to the brink<br>
  Baby, you know<br>
  You can be so cold sometimes</p>

  <p>The Devil, the Devil<br>
  He never said a word<br>
  But he let me in<br>
  I know Nothing<br>
  She never felt so good<br>
  As in this House of Sin</p>
  
  <p>So lonely<br>
  My eyes are yours<br>
  We could fall and our eyes could lose their purpose<br>
  Our senses become worthless</p>

  <p>You are a son to someone<br>
  You are a daughter to no one</p>

  <p>And I suffered, how I suffered for you<br>
  And I came out brand new<br>
  And I&rsquo;m so fired up<br>
  It&rsquo;s so easy just to give it up</p>
</div>
{% endblock body %}
