// ----------
// Inputs
// ----------

input, textarea, button, select
  appearance none
  color inherit
  font 100% $font

label
  display block

::-webkit-input-placeholder
  color $gry
  font-style italic

:-moz-placeholder /* Firefox 18- */
  color $gry
  font-style italic

::-moz-placeholder  /* Firefox 19+ */
  color $gry
  font-style italic

:-ms-input-placeholder
  color $gry
  font-style italic
