title: The Night We Watched 7 Fall
album: The Foal
chapter: Chapter 4
webTitle: seven
pgC: track
date: 21-06-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
    <p>Take heed of the shiver down your spine<br>
    I'm the one your mother warned you about<br>
    Desperate violence and endless desire<br>
    You've been seeking me out</p>

    <p>But I will be there when you least expect it<br>
    I will be sitting on broken glass<br>
    I will show you how and where you went wrong<br>
    And I will take care of the past</p>

    <p>Let go your eyes</p>

    <p>Fighter<br>
    Lover<br>
    Killer<br>
    Or mother<br>
    You hold me<br>
    So lonely<br>
    And still.</p>
</div>
<div class="two-col col-right">
    <p><em>We could fall<br>
    And eyes could lose their purpose<br>
    All our senses lost<br>
    And our bodies worthless<br>
    Come to me broken and lost and lonely<br>
    Forgiveness is nothing on what you owe me.</em></p>

    <p>Fighter<br>
    Lover<br>
    Killer<br>
    Or mother<br>
    You hold me<br>
    So lonely<br>
    And still.</p>
</div>
{% endblock body %}