.tours {
    &-ul {
        border-top: 1px solid $nw;
        margin-bottom: $let*1em;
    }

    &-li {
        border-bottom: 1px solid $nw;
    }

    &-a {
        display: block;
        padding: $let*.25em 0;

        &:hover {
            color: $blu;
            background: $nw;
        }
    }
}

.desti {
    &-body {
        background: $w;
        background: url('/music/images/siteStyle/w90.png') repeat top left;
        background: $frost;
        margin-top: -($let*2em);
        padding: $let*.5em $let*1em;
        margin-bottom: $let*1em;

        .view {
            margin-bottom: 0;
        }

        @include bp(mobile) {
            margin-top: 0;
            padding: $let*.5em;
        }
    }
    
    &-price {
        float: right;

        @include bp(mobile) {
            display: block;
            float: none;
            padding-top: $let3*1em;
        }
    }
    
    &-from {
        color: $dgry;
        font-size: ($p/$h3)*1em;
        font-size: 1rem;
    }
}

.duration {
    float: right;
}