.cat {
    &-lg {
        border: 1px solid $bgry;
        border-radius: 3px;
        padding-top: $let*1em;
        margin-bottom: $let*1em;
        overflow: hidden;
        text-align: center;
        width: 100%;
        
        &-icon {
            display: block;
            margin: 0 auto;
        }

        h2 {
            color: $w;
        }
    }
    
    &-splash {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: none;
    }
}