.frost {
    background: url('/music/images/siteStyle/w90.png') repeat top left;
    background: $frost;
    padding: $let*1em 0 0;
}

.lift {
    margin-top: -($let*1em);
    
    @include bp(minTab) {
        margin-top: -($let*4em);
    }

    &-below {
        @include bp(minTab) {
            padding-bottom: $let*2em;
        }
    }
}

.venue {

    &-title {
        float: left;
    }

    &-filter {
        display: table;
        margin-bottom: $let*.5em;
        margin-top: -($let*.25em);
        width: 100%;

        @include bp(minMob) {
            float: right;
            margin-right: -($let*.5em);
            width: auto;
        }
    }

    &-li {
        display: table-cell;
        text-align: center;

        @include bp(minMob) {
            float: left;
        }
    }

    &-label, &-a {
        display: block;
        padding: $let*.25em;

        @include bp(minMob) {
            padding: $let*.25em $let*.5em;
        }
    }

    &-label {
        @include bp(mobile) {
            display: none;
        }
    }

    &-a {
        border: 1px solid $blu;
        border-width: 1px 1px 1px 0;
    }

    &-active, &-a:hover {
        background: $blu;
        color: $w;
    }

    &-all {
        border-radius: 3px 0 0 3px;
        border-width: 1px 0 1px 1px;
    }

    &-orchestra {
        border-radius: 0 3px 3px 0;
    }
}

@import '../modules/slick';

.banner {
    
    &-details {
        text-align: right;
        
        &.banner-details {
            h3 {
                color: $w;
            }
        }

        @include bp(mobile) {
            padding-top: $let*.5em;
        }
    }
    
    &-bg {
        background: $blu;
        background: rgba($blu,.9);
        bottom: 0;
        height: $let*4em;
        position: absolute;
        right: 0;

        @include bp(minMob) {
            height: auto;
            top: -($let*1em);
        }

        @include bp(minFull) {
            right: $let*.5em;
        }
    }
    
    &-price {
        font-size: ($h2/$h3)*1em;
        font-weight: 700;
        line-height: $let2*2;
    }
}

.sample-itin {
    @include bp(minMob) {
        width: 100%;

        &-split {
            float: left;
            width: 50%;
        }
    }

    @include bp(minTab) {
        width: 25%;

        &-split {
            width: 100%;
        }
    }

    h4 {
        margin-bottom: 0;
    }

    h5 {
        margin-bottom: $let5*1em;
    }

    ul {
        list-style: disc url('/music/images/siteStyle/tick.png');
        margin-bottom: $let*1em;
        padding-left: $let*1em;
    }
}

.price-body {
    color: $blu;
    font-size: ($h4/$p)*1em;
    line-height: $let4;
}

.excursion-list {
    li {
        font-size: ($nav/$p)*1em;
        line-height: $letn*1.5;
    }
}

.enq-strip, .enq-tray {
    background: $nw;
}

.enq-strip {
    text-align: center;

    @include bp(minMob) {
        text-align: left;
    }
}

.enq-call.enq-call {
    color: $org;
}

.testi {
    float: none;
    margin: 0 auto;
    max-width: $pwidth*1em;
    
    &-sec {
        background: url('/music/images/siteStyle/testi-bg.png') repeat top left;
    }
    
    &-body {
        font-size: ($h3/$p)*1em;
        font-style: italic;
        margin-bottom: $let3*1em;
        line-height: $let3*1.5;
        text-align: center;
    }
    
    &-author {
        text-align: right;
    }
}

.accomm-col {
    @include bp(minMob) {
        width: 50%;
    }

    @include bp(mobile) {
        padding-top: $let*1em;
    }
}