title: War Horse
album: The Foal
chapter: Chapter 1
webTitle: war-horse
pgC: track
date: 21-03-2012

{% extends "post.html" %}
{% block body %}
<div class="two-col col-right">
    <p>They cut your hair and they broke your crown<br>
    Their smiles never faltered as they held you down<br> 
    They put you in this place<br> 
    They only want you to be safe<br> 
    They think you&rsquo;ve lost your way<br>
    So they lay you<br>
    On a body of sleepless sound<br>
    Broken rhythm beats, pacing up and down<br>
    Endless unrest<br>
    In a house of the undead<br>
    The itches in your bed<br>
    Are all that&rsquo;s left</p>
    
    <p>And it&rsquo;s you<br>
    That could get rid of my blues<br>
    It&rsquo;s my head<br>
    That kept me in this bed</p>
    
    <p>But I had a lovely life in this place<br>
    I don&rsquo;t think I say that enough<br>
    I know I&rsquo;ve not been happy lately<br>
    But I was when I was young<br>
    And all of the fires in my bedroom<br>
    All of the love that we ignored<br>
    Is still mine for the taking<br>
    If I could just get off this ward</p>
    
    <p>But sometimes I feel like a loaded gun.</p>
</div>
<div class="clear-col">
    <p>The walls<br>
    The windows<br>
    The chairs<br>
    The doors<br>
    The worn-out clothes<br>
    The stains on the floor<br>
    16 years worth of videos and images<br>
    And that dirty old cigar box, where you kept all of your secrets, is gone<br>
    All of it has gone<br>
    It made this house a home<br>
    It&rsquo;s left me no more than skin<br>
    On my bones</p>
</div>
<div class="two-col col-right">
    <p>Sometimes I feel like a falling bomb.</p>
</div>

{% endblock body %}