// ----------
// Core type
// ----------

h1, h2, h3, h4, h5, p
  mgn(1,0)
  max-width $pwidth*1em

h1, h2
  font-family $hfont
  font-weight $bold

h1
  fs(mp(5))

h2
  fs(mp(4))

h3
  fs(mp(3))

h4
  fs(mp(2))

h5
  fs(mp(1))


// ----------
// Modifers
// ----------

strong, b
  font-weight $bold
  letter-spacing normal

em, i
  font-style italic

sup
  font-size smaller
  vertical-align top
