.snav
  &-li
    padding 0 $gut*.5em

  &-next, &-prev
    width 20%
    z-index 1

  &-current
    width 60%
    z-index 0

  &-a
    display block
    line-height 5vh

  &-details
    font-size (($pc/$mod)/$p)*1em
    line-height 5vh
    text-transform uppercase
    z-index 0

    span
      display block
      font-size ($p/$pc)*1em
      font-size 1rem
      line-height 5vh

  &-arrow.snav-arrow
    display inline

.snav
  &-crumb
    font-size (($pc/$mod)/$p)*1em
    line-height 5vh

    &-a
      display inline-block
      line-height 5vh
      text-transform uppercase

      &:hover, &:focus, &:active
        color $pink

  &-title
    font-size ($h3/$p)*1em
    line-height 5vh
