title: On Your Bones
album: The Foal
chapter: Prologue
webTitle: on-your-bones
pgC: track
date: 21-02-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
    <p>I&rsquo;ve got one pocket of uppers and one of downers<br>
    Which do you think I&rsquo;m taking tonight?<br>
    We tend to get caught up in people around us <br>
    What do you say we leave them tonight?</p>

    <p>You&rsquo;ve got a soul <br>
    A heavy load <br>
    You&rsquo;ve got so much love <br>
    On your bones</p>

    <p>But no, no-one&rsquo;s got it all <br>
    Your mind becomes a wall <br>
    Your curtain starts to fall, that&rsquo;s all</p>

    <p>You&rsquo;ve got a soul <br>
    A heavy load <br>
    You&rsquo;ve got so much love <br>
    On your bones</p>

    <p>You&rsquo;ve got love <br>
    For breaking bones <br>
    You&rsquo;ve come so, so far <br>
    From your home</p>

    <p>But no, no-one&rsquo;s got it all <br>
    Your mind becomes a wall <br>
    Your curtain starts to fall, that&rsquo;s all</p>
</div>
<div class="two-col col-right">
    <p>No, I can&rsquo;t do this on my own <br>
    Cant do this alone <br>
    My power is so small.</p>

    <p>Tangle your bones in all that you own <br>
    Your head stays where the grass grows <br>
    Take me to bed with your eyes <br>
    You&rsquo;re crying for help inside <br>
    The time of your life <br>
    Nothing fits right <br>
    Set all in sight alight.</p>
</div>
{% endblock body %}