.bg-shade, .header-bg
  .tpl-post &
    -webkit-mask: url('/static/images/siteStyle/triangle.png') no-repeat center top / cover
    mask: url('/static/images/siteStyle/triangle.png')
    background-position: 100% 0
