.header {  
  @include bp(mobile) {
    background-attachment: scroll;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.header {
    @include bgshade;
    background-color: darken($key,8%);
    color: $w;
    width: 100%;
    z-index: z('header');

    &-logotype {
        font-size: ($h3/$p)*1em;
        font-weight: $bold;
        line-height: $let3*2;
        line-height: $ret*2;
    }
    
    &-tagline {
        font-size: ($p/$h3)*1em;
        font-weight: $weight;
        margin-left: .5em;
        opacity: .62;
    }
}

@import 'header/_nav';