.header, .sec, .footer, .footer-nav {
    @include transform(translate3d(0,0,0));
}

.main-body {
    background: $w;
    overflow: hidden;
    z-index: z('body');
    
    @include bp(mobile) {
        top: 7.25em;
    }
}

.bread-wrap {
    @include bgshade;
    background-color: $gry;
  
    a {
        font-size: ($pc/$p)*1em;
        line-height: $letc*2em;

        &:hover {
          color: $key;
        }
    }
}

.align-c {
    text-align: center;
}

.align-r {
    text-align: right;
}

hr {
    border: 1px solid $bgry;
    border-width: 1px 0 0;
    margin: 0 0 $let*1em;
}

.for-print-notes {
    @media screen {
        display: none;
    }
}

.disc-list {
    list-style: disc;
    padding-left: $let*1em;
    margin-bottom: $let*1em;
    
    &-LG {
        font-size: ($h4/$p)*1em;
        line-height: $let4;
        line-height: $ret;
        list-style: disc;
        padding-left: $let4*1em;
        padding-left: $ret;
        margin-bottom: $let4*1em;
        margin-bottom: $ret;
        
        li {
            margin-bottom: $let4*.5em;
            margin-bottom: $ret*.5;
        }
    }        
}