// ----------
// Easing curves
// ----------

$ease       = cubic-bezier(0.4, 0, 0.2, 1)
$ease       = cubic-bezier(.55,0,.1,1)
$bounce     = cubic-bezier(0.68, -0.55, 0.265, 1.55)
$bounce     = cubic-bezier(0,.84,.13,.99)
$fade-out   = cubic-bezier(0.4, 0, 1, 1)
$fade-in    = cubic-bezier(0, 0, .2, 1)
