// ----------
// Colour
// ----------

$b          = #000
$blk        = #111820
$nblk       = lighten($blk,20%)
$bgry       = #ced8dd
$dgry       = shade($bgry,20%)
$mgry       = shade($bgry,10%)
$lgry       = shade($bgry,6%)
$bdr        = tint($bgry,10%)
$gry        = tint($bgry,50%)
$nw         = tint($bgry,70%)
$hw         = tint($bgry,90%)
$w          = #fff

$prpl       = #b096da
$blu        = #7ca3dc


// ----------
// Grid
// ----------

@import 'core/_type'

$width      = (($pwidth*2) + ($let*3))
$tablet     = (($pwidth*1.382) + ($let*2))
$mobile     = (($pwidth*1) + ($let*2))


// ----------
// Project
// ----------

$ls         = .02em


// ----------
// Imports
// ----------

@import 'core/_animation'
@import 'core/_mixins'
