// ----------
// Font
// ----------

$font     = 'Libre Baskerville', serif
$hfont    = 'Junge', serif
$sfont    = 'PT Sans', sans-serif

// ----------
// Weight
// ----------

$slight   = 100
$light    = 300
$weight   = 400
$sbold    = 600
$bold     = 700

// ----------
// Type
// ----------

@import '_mod.styl'

$mod      = $major-third

$p        = 18
$lh       = $p*3
$gt       = 16

$h1       = $p*$mod*$mod*$mod*$mod*$mod
$h2       = $p*$mod*$mod*$mod*$mod
$h3       = $p*$mod*$mod*$mod
$h4       = $p*$mod*$mod
$h5       = $p*$mod
$h6       = $p

$pc       = $p/$mod

$nav      = $pc

// ----------
// Grid
// ----------

$let      = $lh/$p
$let1     = $lh/$h1
$let2     = $lh/$h2
$let3     = $lh/$h3
$let4     = $lh/$h4
$let5     = $lh/$h5
$let6     = $lh/$h6
$letc     = $lh/$pc
$letn     = $lh/$nav

$gut      = $gt/$p
$gut1     = $gt/$h1
$gut2     = $gt/$h2
$gut3     = $gt/$h3
$gut4     = $gt/$h4
$gut5     = $gt/$h5
$gut6     = $gt/$h6
$gutc     = $gt/$pc
$gutn     = $gt/$nav

$pwidth   = 36
