// ----------
// Font
// ----------

$font     = 'Lato', sans-serif
$hfont    = 'Merriweather', serif


// ----------
// Weight
// ----------

$thin       = 100
$light      = 300
$weight     = 400
$sbold      = 600
$bold       = 700


// ----------
// Modular type
// ----------

$p          = 16
$lh         = $p*1.5
$gt         = $lh

$pwidth     = 37

@import '_mod.styl'

$h0         = mp(6)
$h1         = mp(5)
$h2         = mp(4)
$h3         = mp(3)
$h4         = mp(2)
$h5         = mp(1)

$pc         = mp(-1)

$nav        = mp(-1)


// ----------
// Grid
// ----------

$let        = $lh/$p
$let0       = $lh/$h0
$let1       = $lh/$h1
$let2       = $lh/$h2
$let3       = $lh/$h3
$let4       = $lh/$h4
$let5       = $lh/$h5
$letc       = $lh/$pc
$letn       = $lh/$nav

$gut        = $gt/$p
$gut0       = $gt/$h0
$gut1       = $gt/$h1
$gut2       = $gt/$h2
$gut3       = $gt/$h3
$gut4       = $gt/$h4
$gut5       = $gt/$h5
$gutc       = $gt/$pc
$gutn       = $gt/$nav
