<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" href="" />
	<meta property="og:title" content="">
  <meta property="og:image" content="">
	<meta property="og:description" content="">
  <title>Opal Coast</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
  <!--[if lte IE 8]>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather' rel='stylesheet' type='text/css'>
  <![endif]-->
  <link rel="stylesheet" href="{% static '/static/css/opal-cactus.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body class="loading">
	<a href="#top" id="skip-to" title="Skip to main content">Skip to main content</a>
  <header class="header">
    <nav class="mnav">
      <ul class="mnav-ul">
        <li class="mnav-li">
          <a class="mnav-a" href="" title=""></a>
        </li>
        <li class="mnav-li mnav-drop">
          <ul class="snav-ul">
            <li class="snav-li">
              <a class="snav-a" href=""></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main">
		<div id="top"></div>
    {% block body %}
    {% endblock %}
  </main>

  <footer class="footer">
  </footer>

  <script src="{% static 'static/js/opal-cactusLibs.js' %}"></script>
  <script src="{% static 'static/js/opal-cactus.js' %}"></script>
  <script>
    var GLOBALS = {
    };
    Main.init();
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
