.button {
    border: 1px solid $blu;
    border-radius: 3px;
    display: block;
    margin-bottom: $let*1em;
    margin-bottom: $ret;
    text-align: center;
    width: 100%;
    @include transition(color .2s ease-out, background .2s ease-out, border-color .2s ease-out);
}

.quote {
    background: $grn;
    border-color: darken($grn,8%);
    color: $w;
    font-size: ($nav/$p)*1em;
    line-height: $letn;
    padding: $letn*.5em;
    
    &:hover {
        color: $w;
        background: darken($grn,5%);
    }
}

.view {
    border-color: $bgry;
    color: $grn;
    font-size: 1rem;
    float: right;
    margin-top: -($let*.5em);
    padding: $let*.5em $let*1em;
    width: auto;
    
    &:hover, .two-col:hover & {
        background: $grn;
        color: $w;
        border-color: darken($grn,5%);
    }

    .two-col &:hover {
        background: darken($grn,5%);
    }

    @include bp(mobile) {
        margin: $let*1em 0 0;
        width: 100%;
    }
}

.errMessage {
    color: $christmas-markets;
}