.cat {
    &-wrap {
        height: $let*1.5em;
    }
    
    &-type {
        background: $blu;
        float: left;
        height: 100%;
        width: (100%/3);
    }
    
    &-title {
        display: block;
        color: $w;
        padding-top: 2px;
        text-align: center;
        width: 100%;
    }
    
    &-light {
        border: 2px solid $w;
        border-radius: 100%;
        bottom: -11px;
        box-sizing: content-box;
        height: ($nav/$p)*1em;
        left: 50%;
        margin-left: -(($nav*.5 + 2)*1px);
        overflow: hidden;
        position: absolute;
        width: ($nav/$p)*1em;
    }
    
    &-on {
        background: $org;
    }
    
    &-alt {
        display: block;
        text-indent: -99999px;
    }
}