code {
    font-family: $cfont;
    font-size: ($pc/$p)*1em;
    line-height: $letc;
}

.code {
    &-presentation {
        background: $nw;
        border-radius: 3px;
        display: block;
        padding: $letc*1em;
        padding: $ret;
        max-width: $pwidth*1em;
        max-width: $pwidth*1rem;
        margin-bottom: $letc*2em;
        margin-bottom: $ret*2;
        white-space: pre;
        @include transition(background .1s ease-out);
        
        .featured-body & {
            padding: $let*.5em;
            margin-bottom: $let*1em;
        }

        .featured-item:hover & {
            background: $gry;
        }
    }
    
    &-positive {
        color: $grn;
    }
    
    &-negative {
        color: $red;
    }
    
    &-prop {
        color: $blk;
    }
    
    &-val {
        color: $blu;
    }
    
    &-var {
        color: $history;
    }
    
    &-comment {
        color: $mgry;
    }
    
    &-header {
        color: $mgry;
        font-size: ($pc/$p)*1em;
        line-height: $letc;
        margin-top: -$letc*1em;
        text-transform: uppercase;
    }
}