.featured {
    &-item {
        border-radius: 3px;
        margin-bottom: $let*1em;

        &:hover {
            box-shadow: 0 2px 8px rgba($blk,.15);
            @include transition(box-shadow .1s ease-out);

            .featured-img {
                @include transform(scale(1.06));

                .two-col & {
                    @include transform(scale(1.03));
                }
            }

            .featured-splash {
                color: $w;
                color: rgba($w,.70);
                background: $blu;
                background: rgba($blu,.38);

                &:hover {
                    color: rgba($w,.9);
                }
            }
        }
    }

    &-basic {
        .featured-body {
            border-width: 0;
            padding: $let*1em 0;
        }

        &:hover {
            box-shadow: none;
        }
    }

    &-image {
        background: $nw;
        border-radius: 3px 3px 0 0;
        display: block;
        height: 0;
        padding-bottom: (($lh*8)/((($pwidth*$p) - $lh)/2))*100%;
        overflow: hidden;
        width: 100%;

        .featured-basic & {
            padding-bottom: (($lh*9)/((($pwidth*$p) - $lh)/2))*100%;
        }

        .two-col & {
            padding-bottom: (($lh*11)/($pwidth*$p))*100%;
        }
    }

    &-img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        @include transition(transform .1s ease-in-out);

        .two-col & {
            height: 100%;
            max-width: none;
            width: auto;
        }
    }

    &-splash {
        color: transparent;
        color: rgba($w,0);
        background: rgba($blu,0);
        font-size: ($h1/$p)*1em;
        font-weight: $bold;
        height: 100%;
        left: 0;
        line-height: $let1*2;
        padding: $let1*2em;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        @include transition(color .1s ease-in-out, background .2s ease-out);
    }

    &-body {
        border: 1px solid $gry;
        border-radius: 0 0 3px 3px;
        border-width: 0 1px 1px;
        padding: $let*1em $let*1em $let*.5em;
        @include transition(border-color .1s ease-in-outt);

        h4 {
            font-weight: $bold;
        }
    }

    &-duration {

    }

    &-price {
        font-size: ($h4/$p)*1em;
        line-height: $let4;
        font-weight: $bold;
        float: right;
    }

    &-index {
        .featured-body {
            border-width: 0 1px 1px;
            padding: $let*1em $let*1em 0;
        }
    }

    &-venue {
        font-size: 16px;

        @include bp(minMob) {
            font-size: $p*1px;
        }
    }
    
    &-colour {
        display: table;
        height: auto;
        padding: 0;
        
        & + .featured-body {
            p {
                margin-bottom: 0;
            }
        }
    }
    
    &-hex {
        display: table-cell;
        padding: $let*1.5em $let*1em;
        vertical-align: middle;
        
        &-code {
            background: rgba($blk,.0);
            border-radius: 3px;
            cursor: pointer;
            display: block;
            padding: $let*.5em;
            margin: 0;
            text-align: center;
            width: 100%;
            
            .featured-item:hover & {
                background: rgba($w,.8);    
            }
        }
    }
    
    &-app {
        color: $mgry;
        display: block;
        font-size: ($pc/$p)*1em;
        line-height: $letc;
        text-transform: uppercase;
    }
}