input, label, textarea, button, select, option {
    display: block;
    font: 100% $font;
    margin: 0;
    width: 100%;
}

input, textarea, select {
    background: $w;
    border: 1px solid $bgry;
    border-radius: 3px;
    padding: $let*.5em $let*.25em;
    
    &:focus {
        border-color: $grn;
        outline: none;
    }
}

textarea {
    resize: vertical;
}

label {
    padding: $let*.5em 0;
}

button, input[type="submit"] {
    background: $grn;
    border-color: darken($grn,5%);
    color: $w;
    cursor: pointer;
    
    &:hover{
        background: darken($grn,5%);
        border-color: darken($grn,8%);
    }
}

#submitButton {
    font-size: ($h4/$p)*1em;
    line-height: $let4;
}    