.slick {

    &-list, &-prev, &-next {
        &:focus {
            outline: none;
        }
    }

    &-prev, &-next {
        background: $w;
        background: url('/music/images/siteStyle/w90.png') repeat top left;
        background: $frost;
        border-radius: 3px;
        border: 0;
        color: $dgry;
        float: left;
        padding: $lh*.5px;
        width: 100%;

        &:hover {
            background: $nw;
        }

        img {
            display: inline-block;
            height: 22px;
            vertical-align: middle;
        }

        span {
            padding: 0 $let*.5em;
        }
    }

    &-prev {
        text-align: left;
    }

    &-next {
        float: right;
        text-align: right;
    }

    &-disabled {
        opacity: 0;
    }

    @include bp(minMob) {
        &-prev, &-next {
            width: 50%;

            img {
                height: 44px;
            }
        }
    }

    @include bp(minFull) {

        &-prev, &-next {
            color: transparent;
            height: 100%;
            padding: 73px 24px 21px;
            position: absolute;
            top: 0;
            width: 100%;
            @include transition(background .3s ease-out);

            &:hover {
                background: url('/music/images/siteStyle/w62.png') repeat top left;
                background: $mfrost;
            }
        }

        &-prev {
            left: -100%;
            text-align: right;
        }

        &-next {
            right: -100%;
            text-align: left;
        }

    }


}