@mixin desti($cName) {
    h2, h3, .country-copy, .price-body, .popup-container h1, .featured-price {
        color: $cName;
    }

    .activity-banner-sml, & .featured-item:hover .featured-body, .featured-index .featured-body, .venue-a {
        border-color: $cName;
    }
    
    .cat-type, .nav-sa::before, .venue-a:hover, .venue-active {
        background: $cName;
    }
    
    .banner-bg {
        background: $cName;
        background: rgba($cName,.7);
    }

    & .featured-item:hover .featured-splash {
        background: $cName;
        background: rgba($cName,.38);
    }
    
    .tr-header {
        th {
            color: $cName !important;
        }
    }
    
    .tr-even {
        background: rgba($cName,.10);
    }
    
    .tr-odd {
        .theDay {
            border-color: rgba($cName,.10);
        }
    }
}