.quote {
    &-options {
    }

    &-option {
        
        h3 {
            text-align: center;
        }

        &:nth-child(3n+1) {
            clear: left;
        }

        input[type="checkbox"] {
            width: auto;
        }

        .cf {
            margin-bottom: $let*1em;
        }

        .checkbox-label {
            width: 90%;
        }

        @include bp(minMob) {
            float: left;
            padding: 0 $let*.5em;
            width: (100%/3);
        }
    }

    &-email {
        color: $blu;
        font-size: ($h2/$p)*1em;
        line-height: $let2*2;
        text-decoration: underline;

        &:hover {
            color: $blu;
        }
    }
}
        
.tiny-input {
    display: inline-block;
    margin-right: 2%;
    width: 18%;
}

.small-input {
    display: inline-block;
    margin-right: 2%;
    width: 37%;
}

.input-right {
    margin-right: 0;
}

.option {
    &-portrait {
        float: left;
    }
    &-email {
        text-align: right;

        @include bp(mobile) {
            margin-bottom: $let*1em;
        }
    }
}

#enq {
    &-open {
        cursor: pointer;
    }
}

.enq {
    &-tray {
        padding-top: $let*1em;

        .quote-option {
            margin-bottom: $let*1em;
        }
    }
}