h1 {
    font-size: ($h1/$p)*1em;
    font-weight: $weight;
    line-height: $let1*2;
    margin-bottom: $let1*1em;

    @include bp(mobile) {
        font-size: ($h2/$p)*1em;
        line-height: $let2*1.5;
        margin-bottom: $let2*1em;
    }
}

h2, h3 {
    color: $acc;
}
    
h2 {
    font-size: ($h2/$p)*1em;
    line-height: $let2*2;
}

h3 {
    font-size: ($h3/$p)*1em;
    line-height: $let3;
    margin-bottom: $let3*1em;   
}
    
h4 {
    font-size: ($h4/$p)*1em;
    line-height: $let4;
    margin-bottom: $let4*1em;
}

h5 {
    font-size: ($h5/$p)*1em;
    font-weight: $bold;
    line-height: $let5;
}
   
p {
    margin-bottom: $let*.5em;
    max-width: $pwidth*1em;
     
    a {
        border-bottom: 1px solid $key;

        &:hover {
            border-bottom-color: $blk;
            color: $key;
        }
    }
}

h2, h3, h4, h5, p {
    max-width: $pwidth*1rem;
}

h1, h2, h3, h4, p {
    margin-bottom: $ret*.5;
}

h5 {
    margin-top: $ret*1;
}

strong, b {
    font-weight: $bold;
}

em, i {
    font-style: italic;
}

sup {
    font-size: smaller;
    vertical-align: super;
}