pgC: track

title: Grace
webTitle: grace
album: The Fox
chapter: Chapter 7
date: 21-10-2012

{% extends "post.html" %}
{% block body %}
<div class="clear-col">
  <p>Call me when you&rsquo;re down<br>
  And I&rsquo;ll make sure that your arms are broken<br>
  Call me when you&rsquo;re down<br>
  And make sure your heart is open<br>
  Come up, come around<br>
  And I&rsquo;ll make sure your words are spoken<br>
  Fall into the ground<br>
  And let all of the earth pour over</p>

  <p>Palm me off a cigarette<br>
  It hasn&rsquo;t happened yet for me</p>

  <p>Defined by the Northern Lights<br>
  We set fire to the first pyre<br>
  Pushed it out into the water<br>
  You know it&rsquo;s alright<br>
  And to watch him take flight is helping you see<br>
  That what you had<br>
  And what you lost<br>
  Are not the same thing<br>
  They&rsquo;re not the same thing</p>

  <p>I just want you to know<br>
  You can let him go<br>
  And no-one&rsquo;s going to judge</p>

  <p>It&rsquo;s bigger than us<br>
  So raise both of your hands above us<br>
  Angels into dust<br>
  So place both of your hands upon the cross<br>
  All that love, baby all that love<br>
  I&rsquo;ve seen empires fallen for less<br>
  Call me when you&rsquo;re down<br>
  Oh baby, what a terrible mess</p>

  <p>Defined by the Northern Lights<br>
  We set fire to the first pyre<br>
  Pushed it out into the water<br>
  You know it&rsquo;s alright<br>
  And to watch him take flight is helping you see<br>
  That what you had<br>
  And what you lost<br>
  Are not the same thing<br>
  Alright, alright<br>
  Baby, come home with me tonight<br>
  Where what I give<br>
  And what you gain<br>
  Could be the same thing<br>
  They&rsquo;d be the same thing</p>

  <p>I just want you to know<br>
  You can let him go<br>
  And no-one&rsquo;s going to judge</p>
</div>
{% endblock body %}
